/* CSS for evolution cart */

.evolution-chart {
  grid-column: 1/4;
}

.evolution-info-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: 20px auto;
  justify-content: space-between;
}

.evolution-info-flex div {
  display: flex;
  justify-content: space-between;
}

/* Inline block is needed so the div do not span the whole row */
.evolution-info-flex div > div {
  display: inline-block;
}

.grid-row .evolution-chart .evolution-info-flex img {
  height: 100px;
  width: 100px;
}

.grid-row .evolution-chart .evolution-info-flex figcaption {
  margin: 0px auto;
  text-align: center;
}

.grid-row .evolution-chart .evolution-info-flex .evolves-to-arrow {
  margin: auto 0px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  padding: 3px;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.grid-row .evolution-chart .evolution-info-flex > div > *:last-child {
  display: none;
}
