#root {
  margin: 0 auto;
}

/* Center the main body of the page */
.main-body {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-body .pokemon-logo {
  max-height: 500px;
  height: auto;
  max-width: 100%;
  user-select: none;
}
