.grid-row {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  padding-top: 10px;

  gap: 30px;
}

.additionalInfo {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr;
}

.sub-title {
  font-size: clamp(20px, 2.8vw, 32px);

  font-weight: bold;
}

.back-button {
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
}

.back-button:hover {
  background-color: #333;
  color: #fff;
}
