.grid-row {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  padding: 10px;

  gap: 30px;
}

.grid-row .additionalInfo .training-data table,
.grid-row .additionalInfo .breeding-data table,
.grid-row .base-stat-grid table,
.grid-row .pokedex-data table {
  margin-top: 20px;
}

.sub-title {
  font-size: clamp(20px, 2.8vw, 32px);

  font-weight: bold;
}

.sub-sub-title {
  font-size: clamp(18px, 2.5vw, 25px);

  font-weight: bold;
}

.pokemon-details-name {
  font-size: clamp(25px, 2.8vw, 40px);
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;

  border-radius: 20px;

  margin: 10px auto;
  max-width: 80%;
  text-align: center;
}

#back-button {
  position: absolute;
  top: 2.3%;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(17, 17, 17);
}

#back-button:hover {
  background-color: #000000;
  color: #fff;
}

#pokemon-image {
  height: min(40vw, 360px);
}

.pokemon-hidden-name-image {
  margin: auto 0px;
  display: none;
  height: 25px;
}

.main-body.grid-row table {
  font-size: clamp(10px, 1.5vw, 16px);
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

.main-body.grid-row th,
.main-body.grid-row td {
  border-bottom: 1px solid rgba(250, 250, 250, 0.1); /* Black line between rows */
  font-weight: 400;
  padding: 10px;
  text-align: right;
}
.main-body.grid-row td {
  text-align: left;
}

.main-body.grid-row .pokemon-TOTAL {
  font-weight: bold;
}

/* Additional info gets put under Pokedex Data to make the page more responsive */
@media (max-width: 995px) {
  .grid-row {
    grid-template-columns: auto 1fr;
  }
  .additionalInfo {
    grid-area: 2 / 2;
  }
}

@media (max-width: 600px) {
  .main-body.grid-row #pokemon-image {
    display: none;
  }

  .pokemon-details-name .pokemon-hidden-name-image {
    display: inline-block;
  }

  .additionalInfo {
    grid-area: 1 / 2;
  }
}

@media (max-width: 400px) {
  .grid-row {
    display: block;
  }
  .additionalInfo {
    grid-area: 2 / 1;
  }
}
