.grid-row {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  padding-top: 10px;

  gap: 30px;
}

.additionalInfo {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr;
}

.sub-title {
  font-size: clamp(20px, 2.8vw, 32px);

  font-weight: bold;
}
