.search-container .search-bar {
  width: 100%;
  padding: 9px 4px 9px 30px;

  border: none;
  border-radius: 5px;

  background-color: #1021a1;
  color: white;

  /* Adding the magnifying glass image */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
