.search-container form {
  display: flex;
}

.search-container #reset-search-bar {
  align-self: flex-end;
  height: 33px;
  padding: 0px 6px;
  margin-right: 5px;

  background-color: black;

  border: none;
  border-radius: 5px;
}

.search-container #pokemon-search-bar {
  width: 100%;
  padding: 9px 4px 9px 30px;
  margin-top: 10px;

  border: none;
  border-radius: 5px;

  /* background-color: #0c0032; */
  background-color: black;
  color: white;

  /* Adding the magnifying glass image */
  background-image: url("/icons/searchwhite_icon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
