.pokemon-list-container {
  width: 100%;
  margin: 10px 0;
  padding: 10px 10px;
  text-align: left;

  border-collapse: separate;
  border-spacing: 0 5px;

  /* background-color: #0c0032; */
}

.pokemon-list-container .pokemon-cell {
  /* background-color: #240099; */
  background-color: black;
}

.pokemon-list-container .pokemon-cell:hover {
  background-color: rgb(29, 29, 29);
}

.pokemon-list-container .pokemon-image img,
.pokemon-list-container .pokemon-image {
  height: 100px;
  width: 100px;
}

.pokemon-list-container .pokemon-image img {
  margin-right: 10px;
}

.pokemon-list-container ul {
  list-style-type: none;
}

.pokemon-name {
  font-weight: bold;
}

.pokemon-list-container .pokemon-cell .pokemon-TOTAL {
  font-weight: bold;
}

@media (max-width: 600px) {
  /* Selectors for table cells you want to hide */
  .pokemon-list-container .hide-on-600 {
    display: none;
  }
}

@media (max-width: 540px) {
  /* Selectors for table cells you want to hide */
  .pokemon-list-container .hide-on-540 {
    display: none;
  }
}

@media (max-width: 500px) {
  /* Selectors for table cells you want to hide */
  .pokemon-list-container .hide-on-500 {
    display: none;
  }
}

@media (max-width: 440px) {
  /* Selectors for table cells you want to hide */
  .pokemon-list-container .hide-on-440 {
    display: none;
  }
}

@media (max-width: 350px) {
  /* Selectors for table cells you want to hide */
  .pokemon-list-container .hide-on-350 {
    display: none;
  }
}
