.pokemon-list-container {
  width: 100%;
  margin: 10px 0;
  padding: 10px 10px;
  text-align: left;

  background-color: #0c0032;
}

.pokemon-list-container .pokemon-cell {
  display: flex;
  align-items: center;
  background-color: #240099;
  margin: 5px 0;
}

.pokemon-list-container ul {
  list-style-type: none;
}
